body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(mars.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* header */
.header {
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;

    /* glass effect */
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    position: relative;
    z-index: 3;
}

/* dropdown knop  */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    cursor: pointer;

    /* glass button */
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border-radius: 12px;
    transition: background 0.3s ease;
}

.dropdown:hover .dropbtn {
    background: rgba(255, 255, 255, 0.15);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 4;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* content */
.content {
    position: relative;
    height: calc(100vh - 120px);
    z-index: 1;
}

/* achtergrind titel */
.background-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: rgba(255, 255, 255, 0.15);
    white-space: nowrap;
    z-index: 0;
}

/* ruimteschip plaatje */
.ship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 2;
}

/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    /* glass effect */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
