/* ------------Stuff about fonts-----------*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/*  Secondry text font   */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@200&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*  Header font   */
@font-face{
    font-family: "Scorno";
    src: url(Scorno.otf)
}
/* -----------------------*/
*{
  margin: 0;
  padding: 0;
}

html{
  line-height: 1.5rem;
  scroll-behavior: smooth;
}

body{
  min-width: 100vh;
  min-height: 100vh;
}

body{
    background-image: url('imgs/Background.png');    
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.container-alles{
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
}
/* -----------------------*/
.container_navdiv{
    height: 7%;
    z-index: 3;
}

.logo{
  margin-top: 5px;
}

.navdiv{
    display: grid;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    grid-template-columns: 6fr 15fr 2fr;
}

.navdiv{
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 padding-left: 35px;
 padding-right: 35px;
 border-bottom: 1px solid #7d86d2;
}

/* list */
li,.dropdown ,.dropdown-content{
 list-style: none;
 text-decoration: none;
 display: inline-block;
 font-family: "Rajdhani", sans-serif;
 font-weight: 600;
}

/* -----------------------*/
.Search-bar{
    position: relative;
    width: 400px;
    height: 32px;
    display: none;
    }

/* -----------------------*/

/* DROPDOWN 
  background-color: #42434a;
  color: #e6e6ef;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  font-family: "Rajdhani", sans-serif;


*/
.dropbtn {
  height: 45px;
  text-align: left;
  padding: 15px;
  width: 95px;
  transform: skew(320deg);
  align-items: center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:  #5f2e7a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6e6ef;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-icon{
  position: fixed;
  z-index: 1;
  right: 47px;
  color: green;
}
.dropdown a:hover {background-color: #ddd;}


.show {display: block;}
/*------------------------------------*/
/* swiper */

.container-swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #060913;
    color: #faf2ff;
    overflow: hidden;
}

.swiper{
    width: 100%;
    padding: 25px 0;
}

.swiper-slide{
    position: relative;
    width: 210px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177, 117, 177, 0.4);
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
}

.title{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(11, 28, 31, 0.571);
    border-radius: 8px;
    border: 2px solid #e6e6ef88;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.5s linear;
}

.title span{
    font-size: 1rem;
    font-weight: 400;
}

.swiper-slide-active .title{
    bottom: -10px;
    box-shadow: 0 20px 30px 2px #192bce99;
}

.swiper-pagination{
    --swiper-pagination-bottom: -6px;
}
.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active{
    width: 32px;
    background-color: rgba(25, 43, 206, 1);
    border-radius: 14px;
}
/*------------------------------------*/
/* sidebar */
.menu_combo{
    min-width: 100vh;
    min-height: 100vh;
    box-shadow: 5px 5px 12px rgb(54 10 10 / 42%);
    background: rgba(27, 5, 27, 0.251);
    border-radius: 5px;
    backdrop-filter: blur(7px);
    color: #e6e6ef;
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{
    box-sizing: border-box;
    color: #e6e6ef;
    height: 100vh;
    width: 200px;
    padding: 5px 1em;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.208);
    background: rgb(43 28 6 / 30%);
    backdrop-filter: blur(7px);
    border-right: 1px solid #42434a;
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar{
    list-style: none;
    text-decoration: none; 
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85rem;
    text-decoration: none;
    color: #e6e6ef;
    display: flex;
    align-items: center;
    gap: 1em;
}

ul, li{
    list-style: none;
    text-decoration: none;
}
/* bullshit stuff */
main{
    padding: min(30px, 7%);
}

main p{
    color: #b0b3c1;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* --------------------*/
#sidebar img{
    flex-shrink: 0;
    fill: #e6e6ef;
}

#sidebar a span{
    flex-grow: 1;
}

#sidebar a:hover{
    background-color: #222533;
}


#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    
    .svg{
        transition: rotate 150ms ease;
    }
}


#toggle-btn:hover{
    background-color: #222533;
}
/* --------------------*/
/* Everything about the books */

.container{
    border: 1px solid 42434a;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3rem, 15%);

    h2, p{ margin-top: 1em}
}
.books{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    flex-wrap: nowrap;
}